[2014-07-14 19:23] monicachew opened #1 "server should never send pleasereset"
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1037560 to fix this on the client, but the current behavior is to drop all tables (whether or not they come from that server) in response to a pleasereset. That means we could potentially DOS Google by forcing all clients to update existing safebrowsing tables from scratch.

[2014-09-05 00:37] rtilder opened #3 "Finalize switch to mozsvc metrics tweens"
Should really move away from the heka_client and statsd_client singletons

[2014-09-05 00:41] rtilder opened #4 "JSON logging changes via mozsvc"
Drop the existing heka tween for the mozsvc option

[2014-09-05 00:42] rtilder opened #5 "Parser robustness"
form-encoded POST bodies make the /downloads parser angry.  Remedy.

[2014-09-05 00:44] rtilder opened #6 "Unique user tracking options"
Can this be done downstream via nginx rules and postprocessing by the logging team or do I need to restore the tween for generating unique IDs?

[2014-09-05 00:46] rtilder opened #7 "Add the directory oriented data format"
Rectify change to the abp_host.py script with Georgios's changes and incorporate both into shavar repo.

[2014-09-05 00:48] rtilder opened #8 "Proper prefix handling"
While it doesn't explicitly state it the wording at https://developers.google.com/safe-browsing/developers_guide_v2#LookupsAgeOfDataUsage would imply that we need to check which lists have removed which hashes and scrub the /gethash response prior to sending.

[2014-09-05 12:03] rtilder opened #9 "Restructure downloads body parser"
Stop using split() and pop() on user supplied data.  Switch to indexing or a tail to head technique.

[2014-09-12 21:51] monicachew opened #14 "remove existing chunks for clients that are upgrading from the prototype server"
The chunk numbers in the prototype server are timestamps, so it would be safe to tell the client to delete chunks with numbers > 1000 and less than <10, and start with 11 or 100 as the initial chunk. I don't think we ever used chunk numbers > 4.

[2014-09-12 21:53] monicachew opened #15 "remove gethash suppression on the client"
Right now gethash completions are turned off in FF, but we need to re-enable them to make sure that we don't respect stale results:

https://bugzilla.mozilla.org/show_bug.cgi?id=1032393

Is this safe to fix now?

[2014-09-18 20:29] rtilder opened #17 "Exception thrown when only a single list is configured"
If there's only a single list configured then the call to get returns only a string and not a list of strings here: https://github.com/mozilla-services/shavar/blob/master/shavar/lists.py#L8

The string then gets iterated over instead of a list of strings.

[2014-09-29 15:07] #17 closed, assigned to rtilder

[2014-09-29 16:08] #3 closed, assigned to rtilder

[2014-09-29 16:09] #4 closed, assigned to rtilder

[2014-11-04 22:40] monicachew opened #19 "output of shavar-list-creation is not being refreshed by shavar"
Looks like no one ever overrides refresh_interval.

@ckolos, how often does https://github.com/mozilla-services/shavar-list-creation run?

[2014-11-06 18:04] #19 closed, assigned to nobody

[2014-11-20 22:27] #14 closed, assigned to nobody

[2015-01-28 18:56] monicachew opened #21 "shavar is not sending sub chunks for old chunk data"
Chunk data has always been indexed by timestamp. The prototype version of shavar sent a pleasereset command in response to a chunk number that was less than the timestamp of the current chunk.

This version of shavar leaves old chunks in place and just adds the new chunk. This means that blocklist updates that *remove* stuff from the blocklist have no effect. It also means that the blocklist alway

[2015-01-29 00:21] rtilder commented on #21
I'm a little confused by your first paragraph.  According to issue #1, we should never issue a pleasereset.  Has this situation changed?

As for the bug you mention: shavar serves data for a given sblist from a single S3 file specified in its config file.  shavar doesn't keep track of an sblist's data history.  The sblist creation tool is responsible for generating sub chunks and including them in

[2015-01-29 00:31] monicachew commented on #21
We should still not be sending pleasereset, though we may have to as a temporary workaround to this issue.

The sblist creation tool is stateless and does not know what chunk numbers have already been generated. In fact, it can't generated sub (or adddel) chunks, because different users may have received different add chunks, so the server needs to do this.

[2015-01-29 01:07] monicachew commented on #21
It looks like https://github.com/mozilla-services/shavar/blob/master/shavar/parse.py#L75 parses the chunks that the user claims to have, but that information is not used anywhere.

It seems like _populate_chunks could use claimed chunks in addition to the file on S3 to send the right subtractions.

https://github.com/mozilla-services/shavar/blob/e38d654761d8a1882038670e3f4bf187b6e31d0e/shavar/sour

[2015-01-29 18:13] monicachew commented on #21
We still aren't using redirects as the spec defines, right? And sending all chunks inline?

I'm going to write a node server to test whether Firefox processes adddels correctly when sent inline with add chunk data.

[2015-01-29 18:29] monicachew commented on #21
@sjhworkman, @dougt fyi

[2015-01-29 19:49] monicachew commented on #21
The good news is that we can send adddels inline to fix up clients. Even better, we can send this as a range so there's not much need to parse existing chunk data: the server just sends

ad:1-<current chunk number - 1>

and the clients should delete previous chunks. I've added a test node server to https://github.com/monicachew/shavar-test and response_with_adddel_range.out to illustrate this.

[2015-01-29 19:58] monicachew commented on #21
And now that I know that a range works, we can fix it in shavar-list-creation, which I think can just add the ad:1-chunk_number line before the chunk data starts.

[2015-01-29 19:59] monicachew commented on #21
Filed https://github.com/mozilla-services/shavar-list-creation/issues/8

[2015-01-30 00:19] monicachew commented on #21
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1127603 to get the fix deployed.

[2015-01-30 18:29] monicachew opened #22 "refresh interval is still broken"
From ckolos in https://bugzilla.mozilla.org/show_bug.cgi?id=1127603#c3:

[2015-01-30 18:38] monicachew opened #23 "shavar is not sending adddel directives"
Even though the adddel directive was added in https://github.com/mozilla-services/shavar-list-creation/commit/d992d1a442df16e9d7f1e12301358e32adce2e50, shavar isn't passing it along.

The logic for parsing the file from s3 ignores ad: lines.
https://github.com/mozilla-services/shavar/blob/master/shavar/parse.py#L124

Either this function has to change to insert_adddel when necessary, or _populate_

[2015-01-30 19:26] monicachew commented on #21
See #23

[2015-01-30 20:18] monicachew commented on #23
This is confirmed by comparing https://bug1127603.bugzilla.mozilla.org/attachment.cgi?id=8557263 (what's currently on s3) to the output of the current endpoint (https://github.com/monicachew/shavar-test), which is missing the "ad:" line.

[2015-01-30 20:36] ckolos commented on #22
Looks like this is my error.
2 things to note:

Changes are polled for every 10 minutes
Changes are only polled for on a per request basis.

[2015-01-30 20:36] #22 closed

[2015-01-30 20:50] rtilder commented on #23
It doesn't support that syntax because it wasn't part of the original file format.  Only normal adds and subs were supported because that's what was required.  It should definitely be a requirement for a future release but I think we'll address that when we switch away from the current single file per list publishing format.

[2015-01-30 21:59] monicachew commented on #23
Revocations are definitely a requirement. This bug (or mismatch in expectations of who is computing deltas, or whatever you'd like to call it) was not exposed until we had enough users on tracking protection that I wanted to push a blocklist update.

This is a major implementation difference with the prototype server, which revoked through pleasereset. Generating subs at list creation time does no

[2015-02-23 19:16] monicachew commented on #23
I have to apologize. In my local testing sending a blanket adddel range seemed to work. However I just happened to have a lot of memory on my test machine :( Thus, intermittent failures and https://bugzilla.mozilla.org/show_bug.cgi?id=1134858.

This should be a comma separated list of adddel chunks rather than a range.

[2015-02-25 00:44] #23 closed

[2015-02-25 00:45] monicachew opened #27 "Support non-delta publishing"
If non-delta-publishing is true, then parse existing chunks from client and send back comma-separated adddel chunks for them.

[2015-02-25 00:45] monicachew commented on #21
See #27. #23 was a non-starter.

[2015-03-05 19:30] monicachew opened #28 "Support redirect URLs"
Right now the chunk data is being sent back inline. @tblow says that if we can offload this traffic to a CDN the costs will be cheaper.

Search for "redirect" on https://developers.google.com/safe-browsing/developers_guide_v2.

[2015-03-09 23:36] monicachew opened #29 "Write documentation on how to setup and run shavar locally"
This is probably obvious to egg/pyramid experts but I've gotten this question from @fmarier and one other person (decoder) and didn't know the answer.

[2015-03-11 19:14] monicachew commented on #27
@rtilder , it's coming up on March 13 which is the completion date we set when doing the postmortem a couple weeks ago -- is that still feasible?

[2015-03-12 16:04] rtilder commented on #27
Amusingly, I realized only yesterday that I'd said mid March and not mid April like I'd meant to.  The dangers of extended periods of too little sleep.  Either way, I banged out the minimum necessary changes last night and reviewed it this morning.  PR #30 should fix it.

[2015-03-27 01:18] monicachew opened #32 "gethash completions do not work"
No response from endpoint.

![screen shot 2015-03-26 at 6 14 30 pm](https://cloud.githubusercontent.com/assets/2326155/6860370/6a739e9e-d3e4-11e4-94b9-842d4a690a67.png)

See also https://bugzilla.mozilla.org/show_bug.cgi?id=1148158

@rtilder @rfk @fmarier

[2015-03-27 16:13] rtilder commented on #32
From the production logs: ParseError('Improbably small or large gethash header size: 3',)

That means that the header portion of the POST body is only 3 characters long(most probably the string "4:4" or "4:8").

From our discussions last year, the minimum size of a call to gethash would be four hash prefixes: the prefix for the actual URL that's being looked up and three other randomly generated p

[2015-03-27 16:19] monicachew commented on #32
I think a request of 1 hash prefix is acceptable. We will investigate why less noise is being sent, but keep in mind that the number of gethash noise additions is configurable, and we don't want to penalize people who set it to 0.

[2015-05-07 13:25] ckolos opened #33 "expose version information in json format at route <base url>/version.json"

[2015-06-25 20:04] rtilder commented on #27
Closing because all lists will be published as deltas shortly.

[2015-06-25 20:04] #27 closed

[2015-06-25 20:14] rtilder commented on #32
Fixed in PR #34 and deployed with revision 0.6.2 that was deployed to production the week of June 15, 2015.

[2015-06-25 20:14] #32 closed

[2015-06-25 20:36] rtilder commented on #15
Fixed in PR #34 and deployed with revision 0.6.2 that was deployed to production the week of June 15, 2015.

[2015-06-25 20:59] ckolos opened #35 "track/log http.response body sizes"

[2015-06-30 19:49] ckolos opened #36 "support conf.d/ like functionality of server"
i.e. <shavar-install-dir>/conf.d/<multiple files containing configuration vars for various lists>

[2015-06-30 19:52] ckolos opened #37 "allow server to start even if chunk file isn't present"
Currently, if a chunk file doesn't exist, the server will refuse to start. We should allow the server to start and periodically check for the existence of the file otherwise server config and list generation config have to be tightly coupled.

[2015-07-01 15:28] rtilder opened #38 "Improper addition of empty "ad:" in responses"
When not_publishing_deltas is enabled for a list an adddel command is added to every response even when there aren't any chunks reported by the client(i.e. starting a fetch of the list from scratch).

Not good.

[2015-07-01 20:02] ckolos opened #40 "support multiple, dynamic(ish) snippets of config for list creation"

[2015-07-02 20:45] fmarier commented on #15
This bug is for the client, we should re-open it until completions are re-enabled on the client.

I would do it, but I don't have the right permissions in this repo :)

[2015-07-02 21:09] rfk commented on #15
I'm not sure this is the best place to track client-related bugs, but re-opened

[2015-07-03 02:38] fmarier commented on #15
Noting that it would be better to re-enable this after a fix for #21 has been deployed to prod. Enabling completions with a ton of stale data could lead to an increase in traffic (a lot of unnecessary `gethash` requests).

[2015-07-07 17:27] rtilder opened #41 "response adddel sort order inconsistent"
The ad: line added to responses for lists with not_publishing_deltas doesn't sort the chunk numbers to delete consistently.

[2015-07-10 15:30] ckolos opened #42 "migrate to gunicorn for WSGI functions"
currently running pyramid, gunicorn should perform better(?)

[2015-07-13 09:51] fmarier opened #43 "Hosting two test resources"
As per https://bugzilla.mozilla.org/show_bug.cgi?id=1182876, I want to hard-code test URLs that will be blocked by tracking protection.

I suggest:

* https://tracking.services.mozilla.com/firefox/track.js
* https://tracking.services.mozilla.com/firefox/whitelisted.js

And both of these would be static files containing the following text:

    /* not actually a tracker! */

@rtilder does that look

[2015-07-13 09:53] fmarier commented on #29
@rtilder what command line do you use in dev to startup the shavar server?

[2015-07-13 10:35] fmarier commented on #43
On the client, I would do the following:

* blacklist `tracking.services.mozilla.com/firefox/`
* whitelist `itisatrap.org/?r=tracking.services.mozilla.com/firefox/whitelisted.js`

which would allow [itisatrap.org/firefox/its-a-tracker.html](https://bugzilla.mozilla.org/show_bug.cgi?id=1149825) to pull in `whitelisted.js` but not `track.js`.

[2015-07-14 13:09] ckolos commented on #43
To do this we'll need to:
* add the blacklisted url in the list-generation code
* add the whitelisted url to the whitelist
* config nginx to serve the static resources
* include the static resources in the puppet code used to provision the server

Looking through this, I'm not sure what exactly is being tested here. The server? The client? The blocklist? These changes would seem to only affect the

[2015-07-14 13:52] fmarier commented on #43
These are not required because they will be [hardcoded in the client](https://bugzilla.mozilla.org/show_bug.cgi?id=1182876) so that we can test this without network access.

It's only for testing the client, not the server or the list.

[2015-07-15 07:57] fmarier commented on #43
This is a dependency of the client test page: https://bugzilla.mozilla.org/show_bug.cgi?id=1149825

@ckolos Is there anything else you need from me or is it a straightforward config change?

[2015-07-15 19:21] fmarier commented on #43
Actually, I made a mistake in https://github.com/mozilla-services/shavar/issues/43#issuecomment-120887234 and the format isn't quite right. The whitelist is not going to be that granular. We'll need a different origin to host the whitelisted resource.

I'll come up with something better and file a bug with IT instead. Sorry for the noise.

[2015-07-15 19:21] #43 closed

[2015-08-11 01:15] fmarier opened #44 "implement the list API call"
Not a high priority of course, but it would be nice (for debugging purposes for example) if shavar would implement the [`list` endpoint](https://developers.google.com/safe-browsing/developers_guide_v2#HTTPRequestForList).

I wrote a [small tool](https://github.com/fmarier/safebrowsing-tools/blob/master/get-lists.py) to easily query what's available on a Safe Browsing server.

[2015-08-11 01:17] fmarier commented on #44
In the meantime, we should ideally return a `501 Not Implemented` when receiving a POST on `/list`.

[2015-08-11 14:45] ckolos commented on #44
`curl https://tracking.services.mozilla.com/list` should tell you what's available on the server.

[2015-08-11 15:15] rtilder commented on #44
That API endpoint has been implemented for quite a while.  Are you having trouble with something in particular?

[2015-08-11 15:38] fmarier commented on #44
Oh, I hadn't tried a `GET` :)

The spec says that it should be a `POST`. Perhaps we should add that to be in line with the Google server?

I don't see any harm in keeping GET if you're using it anywhere.

[2015-08-11 16:08] rtilder commented on #44
I swear that spec was written by teenage girls.  Why would it be a POST?  It doesn't take any input.  I'll fix.

[2015-08-11 17:21] fmarier commented on #29
Available here: https://github.com/rtilder/shavar/blob/better-docs/README.md

[2015-08-14 20:20] rtilder commented on #29
Merged with PR #45

[2015-08-14 20:20] #29 closed

[2015-08-16 17:59] fmarier opened #46 "Change the update frequency to 30 minutes"
Using a [simple tool](https://github.com/fmarier/safebrowsing-tools/blob/master/download-list.py), I can see that the update frequency is still set at 45 minutes, which means that clients will often encounter stale data, even if they update regularly.

We should change this to 30 minutes to match what Google emits.

This blocks https://bugzilla.mozilla.org/show_bug.cgi?id=1032393.

[2015-08-17 02:17] ckolos commented on #46
Poked at this. The jenkins task that generates the lists is set to run every 30 minutes, but was actually running every 45. No idea why. I've bumped the frequency up to 15 minutes for now and will keep an eye on the job.

[2015-08-17 16:59] fmarier commented on #46
@ckolos There's another component that probably needs updating (unless you've done that one too): the polling frequency that the server sends to the client in the response to the `downloads` endpoint.

[2015-08-17 20:52] ckolos commented on #46
I think that's this param in the shavar.ini (not shown in the shavar.ini in this repo)
[code]
In stage this is set to:

`default_interval = 1800`

In current prod, this parameter appears instead

`refresh_check_interval = 3600`

and `default_interval` doesn't exist

[2015-08-18 20:02] fmarier commented on #46
I can confirm that it's currently configured properly on `tracking.stage.mozaws.net`:

    $ ./download-list.py | head
    n:1800
    i:mozpub-track-digest256
    a:1439927165:32:52416

and I think that @rtilder was saying that 0.6.4 will bring `default_interval = 1800` to production.

[2015-08-20 22:49] fmarier commented on #28
Note: the redirect URLs currently have to be schemeless (like in the example from the spec, but unlike the grammar) because of [this client code](https://dxr.mozilla.org/mozilla-central/rev/29b2df16e961fbe9a379362ecba6f888d1754bc3/toolkit/components/url-classifier/nsUrlClassifierStreamUpdater.cpp#268-272).

[2015-08-20 23:41] monicachew commented on #28
Well, also to match what Google sends back.

On Thu, Aug 20, 2015 at 3:49 PM Francois Marier <notifications@github.com>
wrote:

[2015-08-26 20:31] fmarier commented on #46
Given the operational cost of having so many clients poll the server, we'll keep `mozpub-track{,white}-digest256` in `urlclassifier.disallow_completions` for the foreseeable future so we don't need the 30 minute interval anymore.

[2015-08-26 20:31] #46 closed

[2015-08-26 20:33] fmarier opened #51 "Change the default client polling interval to 1 hour"
In order to reduce the number of requests / sec we get, the server should tell clients to poll in 24 hours (86400 seconds).

[2015-08-26 21:07] rtilder commented on #42
How about uwsgi?  PR #50

[2015-08-26 21:07] #42 closed

[2015-08-27 21:49] fmarier commented on #51
@ckolos suggested that we start by changing the polling interval to 1 hour first in order to get a feel for how much load it is when it's that frequent.

Note: it's important to keep it > 45 minutes because we want to make sure all of our testing happens with lists that are considered stale by the Safe Browsing protocol (where the 45 min magic value comes from).

[2015-08-28 18:02] rtilder opened #53 "Add redirect_url_template config option"
So that it is possible to something along the following lines:

[shavar]
redirect_url_template = tracking.services.mozilla.org/{list_name}/{chunk_num}

Allow it to be overridden by redirect_url_base in per-list stanzas, probably.

[2015-09-01 14:41] rtilder opened #56 "Parsing failure with multiple lists if any do not specify chunks"
I'm an idiot.  parse_downloads() currently bails whenever it encounters a list with no chunks defined.  That's just stupid.  "return" != "continue

[2015-09-01 16:40] #56 closed

[2015-09-02 20:26] ckolos opened #58 "support full heka logging/decoding of application uwsgi logs"

[2015-09-21 18:34] ckolos commented on #58
Completed using the "old" format.

[2015-09-21 18:34] #58 closed

[2015-09-22 19:40] fmarier commented on #51
This is live in production:

[code]

[2015-09-22 19:40] #51 closed

[2015-09-22 20:03] fmarier commented on #44
This works in production.

[2015-09-22 20:03] #44 closed

[2015-09-22 20:03] fmarier commented on #28
This is live in production.

[2015-09-22 20:03] #28 closed

[2015-09-22 20:04] fmarier commented on #21
I believe this bug was fixed a while back in production.

[2015-09-22 20:04] #21 closed

[2016-02-22 23:15] rtilder commented on #33
It's at the /__version__ endpoint instead.

[2016-03-03 11:06] palant opened #64 "Incorrect usage of str.split()"
The codebase contains statements like the following:

    lname, chunklist = line.split(";", 2)

This particular example can be found [here](https://github.com/mozilla-services/shavar/blob/45b9d87/shavar/parse.py#L31). Whoever wrote this seems to think that the second parameter to `str.split()` indicates the number of resulting string parts, like in JavaScript. However, in Python it's the [maximum

[2016-03-03 11:13] palant opened #65 "Uncaught exception if a request line doesn't contain a semicolon"
[This line](https://github.com/mozilla-services/shavar/blob/45b9d87/shavar/parse.py#L31) throws "ValueError: need more than 1 value to unpack" if the request contains a non-empty line without a semicolon. I confirmed that the server responds with "502 Bad Gateway" in that case.

[2016-03-03 11:23] palant opened #66 "Dead code: variable claims in shavar.parse.parse_downloads()"
The logic in `shavar.parse.parse_downloads()` is somewhat obfuscated by the variable `claims` that is being initialized, then "extended" by `claim` (which is always an empty array because nothing is ever added to it) and then thrown away. Unless I'm entirely mistaken this is dead code.

[2016-03-03 11:45] palant opened #67 "shavar.parse.parse_gethash() asks for denial-of-service"
I sent a request for the `/gethash` endpoint (staging, not production) using the following payload:

After a while I got "504 GATEWAY_TIMEOUT" back. This is because the loop [here](https://github.com/mozilla-services/shavar/blob/45b9d87/shavar/parse.py#L112) is flawed, it will continue to attempt reading even if there is nothing left to be read. It should break out of the loop if `len(prefix)` is

[2016-03-04 17:03] rtilder commented on #66
Yup.  Totally dead code.  The result of some poor cherry picking on my part.

[2016-03-04 19:37] rtilder commented on #65
I noticed the same thing last week and had a patch queued for commit.  Thanks.

[2016-03-07 20:37] #67 closed

[2016-03-07 20:37] #66 closed

[2016-03-07 20:37] #65 closed

[2016-03-07 20:38] rtilder commented on #64
Lots of instances.  Fixed.

[2016-03-07 20:38] #64 closed

[2016-11-02 19:38] fmarier opened #79 "Remove `moz-adp-digest256` leftovers"
We've never used the `moz-adp-digest256` in production or in the product and it's long gone.

We should remove all mentions of it in our codebase. Most notably in the example config files.

[2016-11-07 20:04] groovecoder opened #80 "Remove the GET /list endpoint"
See discussion @ https://github.com/mozilla-services/shavar/pull/78#pullrequestreview-6865384

[2016-11-15 13:46] groovecoder commented on #40
@ckolos I made the first draft of work-to-be-done in the description here. Do you think we should go with relative directory path, absolute directory path, or `s3+file` url to a bucket?

[2016-11-15 14:46] ckolos commented on #40
I think the s3+file url is going to be the most flexible method

[2016-11-15 17:41] rpappalax opened #84 "Update CHANGELOG"

[2016-12-09 22:09] groovecoder opened #86 "Add Strict-Transport-Security Header"
Cloudsec report: https://github.com/mozilla-services/cloudsec/wiki/Latest-shavar.services.mozilla.com

MDN article: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security

[2016-12-16 17:34] ckolos commented on #86
this would be set at the nginx level and that's managed by puppet. assign this to me and I'll make sure it gets done.

[2017-02-08 23:02] ckolos opened #87 "emit list metrics/stats on list read"
When the server reads the server config and successfully parses the configured list, the server should emit (at a minimum) the number of parsed entries in the list.

[2017-02-15 05:02] rpappalax opened #88 "Move all shavar + shavar lists docs to README or readthedocs"
We have multiple repos that work together with shavar server and have an associated work process that should be documented.  In addition, we have shavar server test documentation spread in various wikis, etc. that should probably be consolidated here as well.

# DEPLOY PROCESSES
## LIST VETTING
see:  Shavar - list vetting (google doc)

# TEST
## GENERAL DOCUMENTATION

https://wiki.mozilla.org/Serv

[2017-02-28 16:31] groovecoder opened #89 "Periodically refresh "lists-to-serve" without a restart"
See https://github.com/mozilla-services/shavar-server-list-config/pull/2#issuecomment-279812106 ...

We want the server to periodically refresh that list and dynamically update as a result of changes in that bucket.

[2017-02-28 16:37] groovecoder commented on #88
Also,
### steps for decommissioning a list
(per @ckolos)

1. Remove the list config from the shavar-list-creation-config repo files (stage/prod).ini (mozilla-services/shavar-list-creation-config) This will stop the jenkins tasks from building the digest files and the s3 digests will no longer be updated
2. Remove the server list config from the shavar-server-list-config repo (mozilla-services/shav

[2017-02-28 16:39] groovecoder opened #90 "Deal gracefully with upstream list disappearing on us"
Per @fmarier ...

https://github.com/mozilla-services/shavar/issues/88#issuecomment-283092172 outlines steps for removing a list from shavar. We should gracefully handle the case where the upstream list repo disappears on us. (Probably in shavar-list-creation and/or shavar-server-list-config repos?)

[2017-02-28 16:41] groovecoder opened #91 "merge the server list and the list creation script config somehow"
https://github.com/mozilla-services/shavar-list-creation and shavar use different list config repos (https://github.com/mozilla-services/shavar-list-creation-config/ and https://github.com/mozilla-services/shavar-server-list-config, respectively).

We should combine these into a single repo.

[2017-02-28 18:05] groovecoder opened #92 "Add shavar block- and allow-lists for Flash blocking"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1314094 and particularly https://bugzilla.mozilla.org/show_bug.cgi?id=1314094#c21 ...
[code]

### Stage
1. [x] Add files to https://github.com/mozilla-services/shavar-plugin-blocklist
2. [x] Add the lists to https://github.com/mozilla-services/shavar-list-creation and https://github.com/mozilla-services/shavar-list-creation-config
3. [x] Add the lis

[2017-02-28 20:25] groovecoder opened #93 "Record list metrics into statsd/DataDog"
Sizes, number of entries, etc.

[2017-02-28 20:29] ckolos commented on #93
given that we use datadog for all metrics gathering and that exposes a local statsd listener, we could ship these as shavar.<listname>:lines something like that. Tagging on the AWS side would allow us to differentiate between env's. If the metrics were sent on config refresh that would also be lovely ;)

[2017-03-06 22:18] groovecoder commented on #92
Added the new flash lists to `shavar-list-creation` and `stage.ini` on `shavar-list-creation-config`. We should be able to merge those and see the script put new list files onto the stage server. Will start on that tomorrow.

[2017-03-07 14:03] groovecoder commented on #92
@ckolos check my math here ... if we merge all 3 of these PRs and bounce the shavar stage server, it should start serving the new flash lists, right?

https://github.com/mozilla-services/shavar-list-creation/pull/44
https://github.com/mozilla-services/shavar-list-creation-config/pull/15
https://github.com/mozilla-services/shavar-server-list-config/pull/3

[2017-03-07 18:58] ckolos commented on #92
that looks correct. I think that order is correct as well. I would ask that you stagger the merge to the list-creation-config +30mins or so after the merge to list-creation, but other than that lgtm.

[2017-03-07 20:19] groovecoder commented on #92
Merged `shavar-list-creation` and set myself a 30m timer.

[2017-03-15 22:26] rbillings commented on #92
Verified new flashblock lists: browser shield display & local safebrowsing files & file sizes.

[2017-03-16 14:24] groovecoder commented on #92
Thanks @rbillings.

@ckolos - can you verify that 0.9 is in production? (E.g., could see if [the 0.9 line is in the CHANGES.txt file](https://github.com/mozilla-services/shavar/commit/141e7f3110af2e59a26d9eaa7946e5873ee16cb7)) If it is, we should be able to push these flash block lists to production by following the remaining steps in https://github.com/mozilla-services/shavar/issues/92#issue-2108

[2017-03-16 14:59] ckolos commented on #92
prod is 0.7
{"commit":"6b5ffd3a78da793e3830faf913a99293b07e0ea5","version":"0.7","source":"https://github.com/mozilla-services/shavar.git"}

stage is 0.9
{"commit":"141e7f3110af2e59a26d9eaa7946e5873ee16cb7","version":"0.9","source":"https://github.com/mozilla-services/shavar","build":"https://circleci.com/gh/mozilla-services/shavar/82"}

If we're all okay with another prod release being needed to

[2017-03-16 15:36] groovecoder commented on #92
I'm good with it, yeah. I'm on-hand all day today too - no meetings! @rbillings - would you be able to run thru the regular shavar test plan (i.e., without flash-blocking) first so we can verify 0.9 is good before we add the flash-blocking lists to it?

[2017-03-27 15:41] groovecoder commented on #92
So, next steps:

1. Merge https://github.com/mozilla-services/shavar-list-creation-config/pull/16 and make sure [ShavarListCreationProd](https://deploy.mozaws.net/view/Shavar%20Prod/job/ShavarListCreationProd/) is publishing the new flash-blocking lists to the expected prod S3 bucket.
2. Merge https://github.com/mozilla-services/shavar-server-list-config/pull/5 and restart prod shavar servers to s

[2017-03-27 19:46] groovecoder commented on #92
Production shavar is serving the new flash-blocking lists.

[2017-03-27 19:46] #92 closed

[2017-03-28 15:08] ckolos opened #95 "Stop logging 2xx responses"
This was raised as a problem early on in shavar development, but I suspect that it was discussed in IRC as I can find no formal issue for it.

Currently, the application logs every 2xx response to stdout/err. When this is run in a docker container, these lines are logged to the systems journal through systemd. As a result, each system is logging 2xx's from nginx as well as in the journal. This is

[2017-03-30 14:58] groovecoder commented on #95
The `StfuWsgi200LogFilter` **did** work locally, when I set `stfu_200_logging = True` in my `shavar.testing.ini` file. ...

![shavar-stfu-200-logging](https://cloud.githubusercontent.com/assets/71928/24510587/49393b6a-152f-11e7-8d7e-fce0f24b6336.gif)

[2017-03-30 15:23] ckolos commented on #95
Well, I can't get all fancy and post an animated gif, but....
'''
[root@ip-172-31-42-162 ~]# grep stfu /data/shavar/shavar.ini
  stfu_200_logging = True
[root@ip-172-31-42-162 ~]# curl http://localhost/list
allow-flashallow-digest256
base-track-digest256
baseeff-track-digest256
basew3c-track-digest256
block-flash-digest256
block-flashsubdoc-digest256
content-track-digest256
contenteff-track-digest

[2017-03-30 15:26] ckolos commented on #95
[code]

[2017-03-30 15:55] groovecoder commented on #95
Hmm ... the only thing I can think to double-check is that the `stfu_200_logging = True` line is under the `[shavar]` section of the `.ini` file?

[2017-03-30 16:04] ckolos commented on #95
Top line of comment 2. It's True.

[2017-03-30 16:31] groovecoder commented on #95
Sorry, meant to check that it's under the `[shavar]` section and not in some other section?

[2017-03-30 16:46] ckolos commented on #95
No worries. ;)

[code]

[2017-03-30 16:46] ckolos commented on #95
Maybe the spacing?

[2017-03-30 16:48] ckolos commented on #95
Okay, removed the spaces and *some* progress made

[code]

This is much less annoying/hurtful than the previously and it still allows the error messages through.

Mar 30 16:48:18 ip-172-31-42-162 docker[21742]: {"code": 404, "v": 1, "pid": 20, "agent": "cur
l/7.29.0", "path": "http://localhost/fooboo", "remoteAddressChain": ["127.0.0.1"], "request_time": 0.00037407875061035156, "hostname": "ip-172

[2017-03-30 16:53] groovecoder commented on #95
Cool. So can we close this without changes to the code-base?

[2017-03-30 16:59] ckolos commented on #95
yes

[2017-03-30 16:59] #95 closed

[2017-05-18 23:45] stephendonner opened #96 "Please implement a Swagger/OpenAPI definition in JSON"
The Swagger/OpenAPI view/definition[0] for Shavar is only implemented in YAML.

For reference, I'm using http://shavar.stage.mozaws.net/__api__ - it returns an __api__ file of content-type: application/x-yaml

AFAICT, it should also/primarily return its Swagger/OpenAPI definition file as JSON[1]; I ran into this as a problem when trying to use the OWASP ZAP OpenAPI add-on, to import, spider, and s

[2017-05-18 23:48] stephendonner commented on #96
/cc @psiinon @tarekziade

[2017-05-19 07:56] psiinon commented on #96
@stephendonner the ZAP add-on should already support yaml - we have tests for it that currently pass ;) https://github.com/zaproxy/zap-extensions/blob/alpha/test/resources/org/zaproxy/zap/extension/openapi/PetStore_defn.yaml
I'll have a play with http://shavar.stage.mozaws.net/__api__ and see if I can work out whats up. Assuming I can access that of course - is it only accessible via the VPN?

[2017-05-19 08:01] tarekziade commented on #96
Ideally, we should implement the Accept header so that URL returns JSON or Yaml depending on what the client wants (and pick a default one)

[2017-05-19 14:39] psiinon commented on #96
@stephendonner I can import https://shavar.stage.mozaws.net/__api__ into ZAP without any apparent problems :)

[2017-06-01 16:54] ckolos opened #97 "Allow server to serve empty lists"

[2018-02-16 19:20] groovecoder opened #101 "Enable shavar to serve multi-level bloom filter for CRLite"
See https://github.com/mozilla-services/shavar-list-creation/issues/52 for context on the filter creation.

When we have a bloom filter file, we will need to update shavar to serve it.

[2018-06-30 15:43] moz-hwine opened #102 "Set protected status on production branch"
The production branch on this repository is not protected against force pushes. This setting is recommended as part of [Mozilla's Guidelines][guidelines_url] for a Sensitive Repository.

**Anyone with admin permissions for this repository can correct the setting using [this URL][protect_url].**

If you have any questions, or believe this issue was opened in error, please contact [us][email] and me

[2018-08-02 19:05] pdehaan opened #105 "Update to CircleCI v2 API"
I recently got an email from "The CircleCI Team" saying:

More info in the CircleCI Blog at https://circleci.com/blog/sunsetting-1-0/ and https://circleci.com/docs/2.0/migration-intro/

I also found https://circleci.com/docs/2.0/local-cli/ which points to a handy CircleCI v2 config validator (using something like <kbd>$ circleci config validate -c .circleci/config.yml</kbd>).

[2018-08-02 22:01] rbillings commented on #102
What is the status of this?

[2019-02-26 16:59] ckolos commented on #105
Bump

[2019-02-26 17:00] ckolos opened #107 "Migrate to python 3.x"
As it says on the subject, this code base is still running in python 2.7

[2019-03-27 19:52] Mozilla-GitHub-Standards opened #108 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-07-31 21:09] ckolos commented on #89
I don't think this is actually working properly as restarts are still needed for new lists to come online.

[2019-10-22 11:47] mozcloudsec opened #112 "shavar.stage.mozaws.net has failed the web security baseline"
Site https://shavar.stage.mozaws.net has failed the web security baseline scan.

The failing tests are:

 Strict-Transport-Security Header Not Set [10035] x 3
 * https://shavar.stage.mozaws.net/ (503 Service Unavailable: Back-end server is at capacity)
 * https://shavar.stage.mozaws.net/robots.txt (503 Service Unavailable: Back-end server is at capacity)
 * https://shavar.stage.mozaws.net/sitemap.

[2019-11-01 05:03] moz-hwine commented on #112
The web security baseline scan for site https://shavar.stage.mozaws.net now passes - well done team!

[2019-11-01 05:03] #112 closed

[2020-03-11 16:08] boolean5 opened #134 "Fix instructions for running tests locally"
Currently, when following the instructions in `README.md`, `make test` fails with `make: ./bin/flake8: Command not found`.

This can be fixed by replacing the command `pip install -r requirements.txt` with `pip install -r requirements-test.txt`. This way, the requirements specified in both files are installed, as `requirements-test.txt` includes the line `-r requirements.txt`.

[2020-03-11 17:38] boolean5 commented on #91
Has this already been done? Because https://github.com/mozilla-services/shavar-server-list-config does not seem to exist anymore. Or is it a private repo?
I'm asking because there are references to it in both `README.md` and `howToShavarList.md`

[2020-03-11 19:17] skim1102 opened #135 "Update README to use Docker"
# About this PR
As mentioned in this [comment](https://github.com/mozilla-services/shavar/pull/131#pullrequestreview-372848582) the current README is not up to date with tools we are currently using. Additionally, using `virtualenv` without the correct configuration is resulting into packages being downloaded within the Shavar codebase. We should use https://github.com/mozilla-services/shavar/pull

[2020-03-12 00:01] skim1102 opened #138 "Reduce debug output message"
# About this Issue
Currently there are too much debug output message that is not useful, such as the 200 responses:
[code]
We should create a flag to enable/disable the suppression of the 200 responses so that logs like:
[code]
are surfaced.

# Acceptance Criteria
- [ ] Flag is created in .ini to enable/disable the suppression of the 200 responses
- [ ] Enabling/disabling the flag suppresses the 2

[2020-03-12 00:44] skim1102 commented on #138
Potential solution to disable the logging from uwsgi is run:
`exec /usr/local/bin/uwsgi --ini-paste shavar.ini --paste-logger --uid 10001 --gid 10001 --disable-logging --log-4xx --log-5xx`
instead of
`exec /usr/local/bin/uwsgi --ini-paste shavar.ini --paste-logger --uid 10001 --gid 10001`
in `startup.sh`

[2020-03-17 21:43] boolean5 commented on #134
Closing this, as it was fixed by https://github.com/mozilla-services/shavar/pull/131.

[2020-03-17 21:43] #134 closed

[2020-03-20 14:52] LilyLME commented on #138
Hello @skim1102   this is related to [#125](https://github.com/mozilla-services/shavar-list-creation/pull/125) which I am currently working on in shavar-creation-list. please assign this to me as well.

[2020-03-21 05:43] LilyLME opened #139 "Some modules missing in requirements-tests.txt"
Tests runs do require the some packages when run
[code]

### Common missing packages
- `responses`
- `pyrami`
- `swagger-parser`

[2020-03-21 05:51] LilyLME commented on #139
I did find `responses` and `pyramid` in `constraints.txt` as required however no `swagger-parser` but used in `shavar/tests/test_views.py`

[2020-03-21 06:40] LilyLME commented on #135
@skim1102 I would like to work on this, I noticed there is a similar problem in [shavar-list-creation](https://github.com/mozilla-services/shavar-list-creation) `virtualenv` created it's files over the project source. I had to delete and give it a custom name out of the directory.

[2020-03-23 12:05] boolean5 commented on #91
@skim1102, do you have any input to provide on this?

[2020-03-24 12:37] boolean5 commented on #139
Hello @LilyLME.  I wasn't able to reproduce this when following the instructions in the README. Did `pip install -r requirements-test.txt` complete successfully before you attempted to run the tests? Could you please provide the exact steps you followed?

[2020-03-24 12:50] boolean5 commented on #107
This can be closed now that https://github.com/mozilla-services/shavar/pull/131 has been merged, right?

[2020-03-24 13:46] boolean5 opened #140 "Add instruction to create version.json before running tests"
In a recent [change](https://github.com/mozilla-services/shavar/commit/f1ea4947482722955b31a41449c8d89a59141ad8) in the README, the step to run `make test` was replaced by a step to run `flake8` and a step to run the unit tests. This way the step that creates the `version.json` (present in the Makefile under the `test` target) is omitted. As a result, most of the tests are failing with
`FileNotFou

[2020-03-25 23:45] LilyLME commented on #139
@boolean5 I did follow the normal steps, however I needed to install some of this packages with pip myself.

Perhaps I missed something.

[2020-03-25 23:45] LilyLME commented on #139
But then, when you run tests did they pass?

[2020-03-26 00:31] LilyLME opened #141 "Introduce docker-compose for docker orchestration"
It's way way easier to just do a `docker-compose up` which takes the necessary steps like building if it does not exist and forwarding to a designed port. In this way it's very easy for people to get start started.

[2020-03-26 20:43] boolean5 commented on #139
Yes, the tests are running fine. You shouldn't have to install dependencies manually. Running `pip install -r requirements-test.txt` is supposed to install all the necessary dependencies. I suggest trying again from scratch and keeping an eye on the output of `pip install -r requirements-test.txt` for any dependencies that fail to install.

[2020-04-02 16:07] skim1102 commented on #138
Thanks for expressing your interest @LilyLME. This debug output message suppression issue is different from the shavar-list-creation repo's debug message suppression. After completing the shavar-list-creation issue if you think you can pick this one up as well I am happy to discuss further then.

[2020-04-02 19:09] skim1102 commented on #91
@boolean5 https://github.com/mozilla-services/shavar-server-list-config is indeed private. This work has not been done yet and will need further discussion before it can be picked up.

[2020-04-10 15:48] skim1102 commented on #107
Yes, it has. Thanks for pointing this out.

[2020-04-10 15:48] #107 closed

[2020-04-14 14:50] skim1102 opened #144 "Revert to branch url to original url"
# About this Issue
While getting versioned lists if there is no versioned item and next versioned item is checked we get the following error:
[code]

# Acceptance Criteria
- [ ] When versioned list is not found return the url to check back to original url with /master

[2020-04-15 21:12] #144 closed

[2020-04-17 05:31] skim1102 opened #146 "NoDataError results in "Top level Sentry exception caught" error from raven"
# About this Issue
On startup and refresh of the configuration on Shavar following trace-backs are seen in the log
[code]
The "Top level Sentry exception" is raised when NoDataError is raised [here](https://github.com/mozilla-services/shavar/blob/029817546e1f737a42b1d16cad8e67344d4b549e/shavar/lists.py#L64) and [here](https://github.com/mozilla-services/shavar/blob/029817546e1f737a42b1d16cad8e6734

[2020-04-17 15:34] #146 closed

[2020-04-23 21:42] skim1102 opened #150 "Filter out error messages generated from burpsuite"
# About this Issue
After the pushing `0.13.2` to [Prod](https://bugzilla.mozilla.org/show_bug.cgi?id=1631612) on Friday we had thousands of error messages that bombarded the Shavar's Sentry. The most issues created from Sentry were errors with the following messages:
- `Invalid RANGE "1583447802%22--%3e'--%3e%60--%3e%3c!--%23set%20var%3d%229kg%22%20value%3d%228jf04x`
- `Invalid LISTINFO for ads-tr

[2020-04-24 19:38] skim1102 commented on #150
Further discussion and testing with @jwhitlock showed that the issue with multiples issues being logged in Sentry even though they are the same "Invalid Range" error but with minor message differences was caused by the use of `raven` and using a custom Sentry logging handler. As a result, updating from `raven` to `sentry_sdk` should properly group the errors into a single issue and we can ignore t

[2020-04-28 16:00] skim1102 opened #151 "Remove or replace heka_plugin_raven"
# About this Issue
After accomplishing #150 we have moved from `raven` to `sentry-sdk`. However, some of the tests depends on the `heck_plugin_raven` which should be either be removed or replaced.

[2020-04-28 16:26] skim1102 opened #152 "Make Flake8 work on mozsvc folder as well"
# About this Issue
https://github.com/mozilla-services/shavar/pull/131 resulted in absorbing `mozsvc` package into Shavar. As @jwhitlock mentioned [here](https://github.com/mozilla-services/shavar/pull/131#pullrequestreview-373090395) it currently does not pass Flake8 but our Travis CI does not check the `mozsvc` folder which does not fail the tests. We should make `mozsvc` pass Flake8 and include

[2020-04-28 17:09] #138 closed

[2020-04-29 17:34] skim1102 commented on #150
Tested on staging, the events did not get grouped properly since the message was unique and there were no stack traces.

[2020-04-30 18:50] #150 closed

[2020-05-18 16:22] say-yawn commented on #141
Some helpful resource https://github.com/mozilla-services/python-dockerflow

[2020-05-21 13:39] boolean5 opened #154 "Consider updating to Safe Browsing v4"
Shavar is currently using [version 2](https://web.archive.org/web/20160422212049/https://developers.google.com/safe-browsing/developers_guide_v2) of the Safe Browsing protocol, which is deprecated.

The purpose of this issue is to initiate a discussion on whether there are reasons to update Shavar to implement [v4](https://developers.google.com/safe-browsing/v4/), the latest version of the protoco

[2020-09-14 18:47] say-yawn opened #156 "Check checksum and timestamp"
# About this Issue
Surfaced from [bug 1662895](https://bugzilla.mozilla.org/show_bug.cgi?id=1662895), we noted that a Firefox user who updated to the latest release was experiencing breakages due to their entity list not being updated. The cause was that the Shavar uses timestamp to decide whether an update should happen which means if versioned lists were updated during the same shavar-list-creat

[2020-12-17 01:42] hwine opened #158 "Travis CI free usage ends Dec 3; mozilla repos should switch to other CI platforms"
We're opening this issue because your project has used Travis CI within the last 6 months. If you have already migrated off it, you can close and ignore this issue.

Travis CI is ending free builds on public repositories. travis-ci.com [stopped providing](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)them in early November, and travis-ci.org [will stop](https://mailchi.mp/3d439eeb109

[2021-06-17 16:53] duallain opened #159 "Shavar calls s3connection very frequently, likely creating rate limit errors from aws metadata endpoint"
Currently Shavar is creating an s3 connection for each instance of the 'source' classes.  For example https://github.com/mozilla-services/shavar/blob/master/shavar/sources.py#L191.  This is sub optimal for two reasons, one (and a pretty minor one at that) it can slow your code down (you have to determine the right authentication technique, and then call to aws to validate your creds, then do the w

[2021-07-04 13:21] mimi89999 opened #160 "Consider adding more sources of phishing URLs"
Hello,
Was adding more lists of phishing URLs than Google safe browsing considered? There are many data sources with URLs that are not detected by safe browsing as malicious.

[2022-08-15 17:08] say-yawn opened #164 "Shavar instance takes too long to start-up"
# About this Issue
As mentioned in [here](https://github.com/mozilla-services/cloudops-deployment/pull/4678) this issue happens only on prod. Look for ways to log and/or reduce the speed on the instance starting.

[2022-08-15 18:38] smarnach commented on #164
We see a few more issues that only happen in prod that are potentially related:

* Sometimes instances get stuck on an old version of the data, while continuing to serve traffic just fine.
* Sometimes all instances get into a mysterious crash-loop state. This is less likely to happen when we run more instances, but it's not related to any traffic spikes. For this reason, we heavily overprovision t

[2022-11-23 20:15] say-yawn opened #166 "Deprecate logger.error to .info to reduce Sentry events"
Some of these events are NOT necessarily and error, more like a warning and can be deprecated to warning or info:
- `Skipping {version num} version support for {list name} ...`: this is to inform that there is a versioned branch on shavar-prod-list that on Shavar the list is not supported for the said version. This is an error if we expected that list to be available on Shavar but some of the list

[2022-11-23 20:22] say-yawn opened #167 "Update Python and packages"
- This project uses [Python 3.7.6](https://github.com/mozilla-services/shavar/blob/master/Dockerfile#L1) which its end of support date is expected to be 2023-06-27 according to [here](https://www.python.org/downloads/)
- We are using an old version of [Sentry SDK 0.14.3](https://github.com/mozilla-services/shavar/blob/f0f62a47fcbfc37b90ab0457d7b541e7fe8dbc37/requirements.txt#L19) which now has [ve